@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
body {
  width: 100vw;
  height: 90vh;
  margin-top: 10px;
  background-color: black;
  backdrop-filter: blur(222px);
  font-family: "Ubuntu", sans-serif;
}
.sombra {
  width: 390px;   /* aumente à vontade */
  height: 400px;  /* aumente à vontade */
  background: black;
  position: relative;
  overflow: hidden;
}

/* camada de neblina */
.sombra::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(200, 200, 200, 0.15) 30%,
    rgba(0, 0, 0, 0) 70%
  );
  filter: blur(35px);
  opacity: 0.8;
  pointer-events: none;
  z-index: 1;
}

#imagem {
  background-image: url("../img/forca.png");
  width: 100%;      /* agora a imagem cresce junto */
  height: 100%;     /* agora ocupa toda a sombra */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  z-index: 2;        /* imagem acima da neblina */
}

#palavra-secreta {
  display: flex;
  color: #00ff00;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  margin-top: 30px;
}
.letras {
  width: 16px;
  text-align: center;
  border-bottom: 2px solid #00ff00;
  color: #00ff00;
  font: 600;
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
}
#teclado {
  margin-top: 30px;
}

#teclado .teclas button {
  width: 24px;
  height: 24px;
  margin: 2px;
  margin-bottom: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 05px #00ff00;
  border-radius: 5px;
  background-color: black;
  border: 1px solid #00ff00;
  color: #00ff00;
  font-weight: 900;
  font-family: "Ubuntu", sans-serif;
}

#teclado .teclas button:hover {
  transform: scale(1.3);
}

#teclado .teclas button:disabled{
  cursor: not-allowed;
}

#categoria {
  margin-top: 30px;
  color: #00ff00;
  font-size: 1.2em;
}

@media (min-width: 321px) {
  .teclas button {
    width: 25px;
    height: 25px;
  }
  #categoria {
    font-size: 1.2em;
  }
}

@media (min-width: 376px) {
  #teclado .teclas button {
    width: 30px;
    height: 30px;
  }
  #palavra-secreta {
    font-size: 1.3em;
  }
  .letras {
    width: 18px;
  }
  #categoria {
    font-size: 1.5em;
  }
}

@media (min-width: 426px) {
  #teclado .teclas button {
    width: 36px;
    height: 36px;
  }
  #palavra-secreta {
    font-size: 1.5em;
  }
  .letras {
    width: 20px;
  }
  #categoria {
    font-size: 1.6em;
  }
}

@media (min-width: 769px) {
  #teclado .teclas button {
    width: 68px;
    height: 68px;
    font-size: 2em;
    margin: 3px;
  }
  #palavra-secreta {
    font-size: 2.5em;
  }
  .letras {
    width: 35px;
  }
  #categoria {
    font-size: 2em;
  }
}
